*{
    margin: 0;
    padding: 0;

}
header{
    border-bottom: 1px solid rgb(82, 82, 82); 
}
.header_main {
width: 90%;

margin-left: 5%;

overflow: hidden;
}
.logo{

width: 20%;

float: left;
}
nav{

width: 50%;

float: right;

overflow: hidden;
}
nav ul{

list-style: none;
padding-top: 25px;
overflow: hidden;
float: right;
}
nav ul li{
float: left;
margin-left: 30px;
}
nav ul li a{
text-decoration: none;
font-size: 18px;
text-transform: capitalize;
color: black;
}
.content-section{

width: 70%;

margin-left: 15%;
}
.content-section h1{
    
color: #565656;
    
font-size: 45px;
    
text-align: center;
    
padding-top: 50px;
}
.content-section h2{
    
color: blue;
    
font-size: 45px;
    
text-align: center;
}
.content-section p{
    
text-align: center;
    
padding-bottom: 50px;
    
padding-top: 1%;
}
.Img{

text-align: center;
}
.Img img{
    
}
.project_content{

overflow: hidden;
}
.left_content{

width: 48%;

float: left;
}
.left_content h1{

color: #fd0505bd;

text-align: right;
}
.left_content p{

text-align: right;
}
.right_content{

width: 48%;

float: right;
}
.right_content h1{

text-align: left;
}
.service{

margin-left: 5%;

width: 90%;

overflow: hidden;

padding-top: 50px;

padding-bottom: 50px;
}
.service-one{

width: 30%;

height: 420px;

background-color: #ffd6dd75;

text-align: center;

float: left;
}
.service-one img{
    
}
.service-one h2{
    
padding-left: 20px;
    
text-align: left;
}
.service-one p{
    
text-align: left;
    
padding: 20px;
}
.service-two{

width: 30%;

height: 420px;

background-color: #eaf9f4;

text-align: center;

float: left;

margin-left: 5%;
}
.service-two img{
    
}
.service-two h2{
    
padding-left: 20px;
    
text-align: left;
}
.service-two p{
    
text-align: left;
    
padding: 20px;
}
.service-three{

width: 30%;

height: 420px;

background-color: #fff8e8;

text-align: center;

float: right;
}
.service-three img{
    
}
.service-three h2{
    
padding-left: 20px;
    
text-align: left;
}
.service-three p{
    
text-align: left;
    
padding: 20px;
}
footer{

background-color: #008eff;

height: 30px;

padding: 30px 0px;
}
footer p{

text-align: center;

font-size: 18px;

color: white;
}
footer p span{
    
}